@model RestNew.ViewModels.MasterItemMenuModel

@{
    ViewData["Title"] = "Create";
}


<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MasterItemMenu">Manage Item Menu</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<div class="row justify-content-center">
    <div class="col-lg-11">
        <div class="card">
            <div class="card-body mt-4">


                <!-- Multi Columns Form -->
                <form asp-action="Create" class="row g-3" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group col-md-6">
                        <label asp-for="MasterCategoryMenu.MasterCategoryMenuName" class="control-label"></label>
                        <select autofocus asp-for="MasterCategoryMenuId" class="form-select"
                                asp-items="@(new SelectList(Model.ListMasterCategoryMenu, "MasterCategoryMenuId", "MasterCategoryMenuName" ))"></select>
                        <span asp-validation-for="MasterCategoryMenuId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="MasterItemMenuTitle" class="control-label"></label>
                        <input asp-for="MasterItemMenuTitle" class="form-control" />
                        <span asp-validation-for="MasterItemMenuTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="MasterItemMenuBreef" class="control-label"></label>
                        <input asp-for="MasterItemMenuBreef" class="form-control" />
                        <span asp-validation-for="MasterItemMenuBreef" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="MasterItemMenuDesc" class="control-label"></label>
                        <input asp-for="MasterItemMenuDesc" class="form-control" />
                        <span asp-validation-for="MasterItemMenuDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="MasterItemMenuPrice" class="control-label"></label>
                        <input asp-for="MasterItemMenuPrice" class="form-control" />
                        <span asp-validation-for="MasterItemMenuPrice" class="text-danger"></span>
                    </div>
                    @* <div class="form-group col-md-6">
                        <label asp-for="MasterItemMenuImageUrl" class="control-label"></label>
                        <input asp-for="MasterItemMenuImageUrl" class="form-control" />
                        <span asp-validation-for="MasterItemMenuImageUrl" class="text-danger"></span>
                    </div> *@
                    <div class="form-group col-md-6">
                        <label asp-for="MasterItemMenuDate" class="control-label"></label>
                        <input asp-for="MasterItemMenuDate" class="form-control" />
                        <span asp-validation-for="MasterItemMenuDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ItemMenuFile" class="control-label"></label>
                        <input asp-for="ItemMenuFile" class="form-control" />
                        <span asp-validation-for="ItemMenuFile" class="text-danger"></span>
                    </div>

                    <div class="form-group text-end mt-3" style="direction:rtl;">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-light-secondary">Back to List</a>
                    </div>
                </form>
                <!-- End Multi Columns Form -->

            </div>
        </div>
    </div>
</div>
